/* .tooltipster-box */

.tooltipster-sidetip .tooltipster-box {
	background: #C1DEAB;
	border: 2px solid #70AB43;
	border-radius: 4px;
}

/* .tooltipster-content */

.tooltipster-sidetip .tooltipster-content {
	color: black;
	line-height: 18px;
	padding: 6px 14px;
}

/* .tooltipster-arrow : will keep only the zone of .tooltipster-arrow-uncropped that
corresponds to the arrow we want to display */

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
	border-bottom-color: #C1DEAB;
	left: 0px;
	top: 3px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
	border-left-color: #C1DEAB;
	left: -3px;
	top: 0px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
	border-right-color: #C1DEAB;
	left: 3px;
	top: 0px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
	border-top-color: #C1DEAB;
	left: 0px;
	top: -3px;
}

/* .tooltipster-arrow-border */

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom-color: #70AB43;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
	border-left-color: #70AB43;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
	border-right-color: #70AB43;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
	border-top-color: #70AB43;
}