/* Find Place CSS -- START */

.ac_results {
	padding: 0px;
	background-color: Window;
	overflow: hidden;
}

.ac_results ul {
	width: 110%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 1em;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-indent: 0px;
	text-align: left;
	list-style-position: outside;
	list-style-type: none;
	margin-top: 10px;
	margin-left: -25px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.ac_results li {
	margin-top: -10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: -10px;
	text-indent: 3px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 14px;
	float: left;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_over {
	background-color: #3875d7; 
  	color: #fff;
}

.ac_results_alt_bkgnd_color {
	background-color: #b0b0b0;
}

.panelHeading {
	font-variant: small-caps;
	font-size: small;
	margin-bottom: 10px;
}

/* Find Place CSS -- END */